<script type="text/javascript">
    if (typeof (app) === 'undefined') {
        document.location.href = '/';
    }
</script>

<h2 class="title">{{ 'Portefolio' | translate }}</h2>


<div id="portfolio-items-container" class="col-xs-12 no-padding">
    <div class="item-container">
        <div class="no-padding video-container">
            <a href="#"><img src="img/videos/site-institucional.png" alt="site institucional" class="img-responsive"/></a>
            <h3 class="item-title">{{ 'Site Institucional' | translate }} - Frontend</h3>
            <div class="item-description">
                <p>{{ 'Tecnologias' | translate }}</p>
                <img src="img/videos/laravel.png" alt="laravel" />
                <img src="img/videos/jquery.png" alt="jquery" />
                <img src="img/videos/bootstrap.png" alt="bootstrap" />
                <img src="img/videos/json.png" alt="json" />
            </div>
            <div class="item-btn" data-toggled="0">{{'Mensagem botao' | translate}}</div>
        </div>
    </div>

    <div class="item-container">
        <div class="no-padding video-container">
            <a href="#"><img src="img/videos/site-institucional-cms.png" alt="site institucional" class="img-responsive"/></a>
            <h3 class="item-title">{{ 'Site institucional' | translate }} - CMS</h3>
            <div class="item-description">
                <p>{{ 'Tecnologias' | translate }}</p>
                <img src="/img/videos/laravel.png" alt="laravel" />
                <img src="/img/videos/jquery.png" alt="jquery" />
                <img src="/img/videos/bootstrap.png" alt="bootstrap" />
                <img src="/img/videos/json.png" alt="json" />
            </div>
            <div class="item-btn" data-toggled="0">{{'Mensagem botao' | translate}}</div>
        </div>
    </div>

    <div class="item-container">
        <div class="no-padding video-container">
            <a href="#"><img src="img/videos/blog.png" alt="site institucional" class="img-responsive"/></a>
            <h3 class="item-title">{{ 'Blog' | translate }} - Frontend</h3>
            <div class="item-description">
                <p>{{ 'Tecnologias' | translate }}</p>
                <img src="img/videos/laravel.png" alt="laravel" />
                <img src="img/videos/angularjs.png" alt="angular js" />
                <img src="img/videos/jquery.png" alt="jquery" />
                <img src="img/videos/bootstrap.png" alt="bootstrap" />
                <img src="img/videos/json.png" alt="json" />
            </div>
            <div class="item-btn" data-toggled="0">{{'Mensagem botao' | translate}}</div>
        </div>
    </div>

    <div class="item-container">
        <div class="no-padding video-container">
            <a href="#"><img src="img/videos/blog-cms.png" alt="site institucional" class="img-responsive"/></a>
            <h3 class="item-title">{{ 'Blog' | translate }} - CMS</h3>
            <div class="item-description">
                <p>{{ 'Tecnologias' | translate }}</p>
                <img src="/img/videos/laravel.png" alt="laravel" />   <img src="img/videos/angularjs.png" alt="angular js" />
                <img src="/img/videos/jquery.png" alt="jquery" />
                <img src="/img/videos/bootstrap.png" alt="bootstrap" />
                <img src="/img/videos/json.png" alt="json" />
            </div>
            <div class="item-btn" data-toggled="0">{{'Mensagem botao' | translate}}</div>
        </div>
    </div>

</div>
